<!DOCTYPE html>
<html>
<head>
        
       <title>Huli - Cadastro de Pesquisa</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="css/main.css">

            
    </head>
<body>
     <header>
            <nav class="navbar navbar-inverse">
            <div class="container">
                 <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <a class="navbar-brand" href="tela_inicial.html"><strong>Huli</strong></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                        

                         <ul class="nav navbar-nav">
                            
                             <li>
                                 <a href="#">
                                     <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                     Perfil
                                 </a>
                             </li>
                             <li>
                                 <a href="<c:url value='/mapeamento/pesquisa/list'/>">
                                     <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                     Pesquisas
                                 </a>
                             </li>
                        
                        </ul>
                    
                               
                        <ul class="nav navbar-nav navbar-right">
                        
                            <li>
                                <a href="<c:url value='/mapeamento/convite'/>">
                                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                                    Notificação
                                </a>
                            </li>                    		
                        
                            <li>
                                <p class="navbar-text">
                                    Bem vindo: Fulano
                                </p>
                            </li> 
                            <li>
                                <a href="<c:url value='/login/logout'/>">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Sair
                                </a>
                            </li>
                                                 
                        
                        </ul>

                </div>

                </div>
                </div>
         </nav>
          
       </header>

    <div class="container">

        
        <h2><label for="id_title" class="control-label">Mapeamento Sistematico</label></h2>
	    <div class="panel panel-primary">
	       
		    <div class="panel-body">

                <div class="form-group">
                    <label for="id_title" class="control-label">Título</label>
                    <input class="form-control" id="id_title" maxlength="255" name="title" type="text">    
                </div>
                <div class="form-group">
                    <label for="id_description" class="control-label">Descrição</label>
                    <div class="expanding-wrapper" style="position:relative">
                        <textarea class="form-control" rows="3"></textarea>
                </div>
                
                <br>

               <div class="form-group">
                    <label for="id_objetivos" class="control-label">Objetivos</label>
                    <div class="expanding-wrapper" style="position:relative">
                        <textarea class="form-control" rows="3"></textarea>
                        
                </div>
                <br>
                <div class="form-group">
                    <label for="id_palavras" class="control-label">Palavras-chave</label>
                    <div class="expanding-wrapper" style="position:relative">
                        <textarea class="form-control" rows="3"></textarea>
                </div>
                <br>
        <div class="panel panel-default"> 
            <div class="panel-heading">
                    <h3 class="panel-title">Questões de pesquisa</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
			    
                    <div  ng-app="myShoppingList" ng-controller="myCtrl">
   
                        <li class="list-group-item" ng-repeat="x in products">{{x}}
                            <span ng-click="removeItem($index)" style="cursor:pointer;" class="pull-right"><span class="glyphicon glyphicon-remove"></span></span>
                        
                        </li>

                        <br>
                        
                        <div>
                            <div class="input-group">
                                <input ng-model="addMe" class="form-control" type="text" name="question-description" maxlength="500" value="">
                                
                                <span class="input-group-btn">
                                    <button ng-click="addItem()" class="btn btn-success" type="button">inserir</button>
                                </span>
                            </div>
                     
                        </div>
                        <br>
                    
                        <p>{{errortext}}</p>
                    </div>
                </div>
			</div>

        </div>

        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Seleção de Critérios</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inclusao" class="control-label">Critério de inclusão</label>
                                <input type="text" id="inclusao" maxlength="200" class="form-control">
                            </div>
                            <div class="form-group">
                                <select multiple="multiple" size="6" id="criterio-inclusao" class="form-control">
	                    
                                </select>                  
                            </div>
                            <!--botao adicionado-->
                            <button type="button" id="add_criterio_inclusao" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                                Adicionar critério
                            </button>
                           <button type="button" id="del_criterio_inclusao" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-trash"></span>
                              remover critério
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exclusao" class="control-label">Critério de exclusão</label>
                                <input type="text" id="exclusao" maxlength="200" class="form-control">
                            </div>
                            <div class="form-group">
                                <select multiple="multiple" size="6" id="criterio-exclusao" class="form-control">
	                    
                                </select>
                            </div>
                            <!--botao adicionado-->
                            <button type="button" id="add_criterio_exclusao" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                                Adicionar critério
                            </button>
                            <button type="button" id="del_criterio_exclusao" class="btn btn-danger btn-sm" data-target="#criterio-exclusao">
                              <span class="glyphicon glyphicon-trash"></span>
                              remover critério
                            </button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Seleção de Engines de Busca</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <div class="form-group">
                        <h4><li class="list-group-item"><label><input type="checkbox" value="">     ScienceDirect</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="">     IEEE Xplore Digital Library</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="">     ACM Digital Library</label></li>
                        <li class="list-group-item"><label><input type="checkbox" value="">     Scopus</label></li></h4></div>
                    </ul>
                </div>
            </div>
        </div>  
    </div>
   <div class="form-group">
       <button type="button" class="btn btn-success" data-target="cadastrar_pesquisa">
           <span class="glyphicon glyphicon-ok"></span>
                          Cadastrar pesquisa
       </button>
       
    </div>
        <br>
        
        
        
    <! ---- CHAMANDO AS CLASSES EM JAVA ----!>
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>